<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>Victor</string>
		<key>lastName</key>
		<string>Adu</string>
		<key>imageName</key>
		<string>victoradu</string>
		<key>twitterHandle</key>
		<string>@victoradu</string>
		<key>githubHandle</key>
		<string>victoradu</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Collin</string>
		<key>lastName</key>
		<string>Atherton</string>
		<key>imageName</key>
		<string>collinatherton</string>
		<key>twitterHandle</key>
		<string>@collinatherton</string>
		<key>githubHandle</key>
		<string>collinatherton</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>John</string>
		<key>lastName</key>
		<string>Clem</string>
		<key>imageName</key>
		<string>johnclem</string>
		<key>twitterHandle</key>
		<string>@johnclem</string>
		<key>githubHandle</key>
		<string>johnclem</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Jeff</string>
		<key>lastName</key>
		<string>Gayle</string>
		<key>imageName</key>
		<string>jeffgayle</string>
		<key>twitterHandle</key>
		<string>@jeffgayle</string>
		<key>githubHandle</key>
		<string>jeffgayle</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Dan</string>
		<key>lastName</key>
		<string>Hoang</string>
		<key>imageName</key>
		<string>danhoang</string>
		<key>twitterHandle</key>
		<string>@danhoang</string>
		<key>githubHandle</key>
		<string>danhoang</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Brad</string>
		<key>lastName</key>
		<string>Johnson</string>
		<key>imageName</key>
		<string>bradjohnson</string>
		<key>twitterHandle</key>
		<string>@bradjohnson</string>
		<key>githubHandle</key>
		<string>bradjohnson</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Leonardo</string>
		<key>lastName</key>
		<string>Lee</string>
		<key>imageName</key>
		<string>leonardolee</string>
		<key>twitterHandle</key>
		<string>@leonardolee</string>
		<key>githubHandle</key>
		<string>leonardolee</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Alex</string>
		<key>lastName</key>
		<string>Rice</string>
		<key>imageName</key>
		<string>alexrice</string>
		<key>twitterHandle</key>
		<string>@alexrice</string>
		<key>githubHandle</key>
		<string>alexrice</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Kirby</string>
		<key>lastName</key>
		<string>Shabaga</string>
		<key>imageName</key>
		<string>kirbyshabaga</string>
		<key>twitterHandle</key>
		<string>@kirbyshabaga</string>
		<key>githubHandle</key>
		<string>kirbyshabaga</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Mike</string>
		<key>lastName</key>
		<string>Tirenin</string>
		<key>imageName</key>
		<string>miketirenin</string>
		<key>twitterHandle</key>
		<string>@michaeltirenin</string>
		<key>githubHandle</key>
		<string>michaeltirenin</string>
	</dict>
</array>
</plist>
